<ion-header #header class="ion-no-border fixed"
  style="background-color: #f8f8fb;--background-url: {{ url(product?.img) }}">
  <ion-toolbar class="ion-padding">
    <ion-icon slot="start" class="back-btn" name="chevron-back-outline" (click)="back()"></ion-icon>
    <ion-title class="ion-no-padding">New Product</ion-title>
    <ion-icon slot="end" class="search-btn" name="camera"></ion-icon>
  </ion-toolbar>

  <div class="product-qty-wrapper">
    <ion-text color="success" (click)="selectUnit()">
      <h5 class="ion-no-margin qty-value">{{ product.unit.symbol }}</h5>
    </ion-text>
    <ion-text (click)="selectUnit()">
      <small class="last-update">Select Unit</small>
    </ion-text>
  </div>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScrollStart)="scrollStart()" (ionScroll)="scrolling($event)"
  (ionScrollEnd)="scrollEnd()">

  <div style="height: 35vh;"></div>
  <ion-item lines="none">
    <ion-label class="input-label" position="stacked">Product's Name</ion-label>
    <ion-input class="radius mt" [(ngModel)]="product.name"></ion-input>
  </ion-item>

  <ion-item lines="none" class="mt">
    <ion-label class="input-label" position="stacked">Category</ion-label>
    <ion-input class="radius mt" (ionFocus)="selectCategory()" value="{{product.category?.name}}"></ion-input>
  </ion-item>

  <ion-item lines="none" class="mt" style="position: relative;">
    <ion-label class="input-label" position="stacked">Notification</ion-label>
    <ion-icon style="position:absolute; right: 16px; top: 5px" name="{{productNotificationIcon}}"
      (click)="product.notification.toggle()" color="success"></ion-icon>
    <div *ngIf="product.notification.is_enable" style="margin-top:8px;display: flex; align-items: center">
      <div style="font-size: 12px; color: #ccc; flex: 4; margin-right: 5px">
        <span>We will notify you when your product quantity is below </span>
      </div>
      <div style="flex: 3; display: flex; align-items: center; position: relative">
        <ion-input class="ion-no-margin" [(ngModel)]="product.notification.trigger"
          style="border-radius: 16px 0 0 16px"></ion-input>
        <div style="height: 51px;background: #F8F8FB; padding:16px;border-radius: 0 16px 16px 0">
          <span style="color: #25d482">{{ product.unit.symbol }}</span>
        </div>
      </div>
    </div>
  </ion-item>

  <ion-item lines="none" class="mt">
    <ion-label class="input-label" position="stacked">Notes & Descriptions</ion-label>
    <ion-textarea style="--padding-top: 0;padding: 16px" class="radius mt" rows="5" cols="20"
      placeholder="Enter any notes here..." [(ngModel)]="product.description"></ion-textarea>
  </ion-item>

  <div style="height: 100px;"></div>
  <div #createProductBtn slot="fixed" style="bottom: 0; width: 100%; padding: 16px 16px; background: #fff">
    <ion-button disabled="{{!isOk}}" style="height:60px; --border-radius: 16px" class="add_to_cart_btn" shape="round"
      expand="full" color="success" (click)="createProduct()">Create</ion-button>
  </div>
</ion-content>