<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="danger">6</ion-badge>
      <!-- <ion-label>Notifications</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <!-- <ion-label>Setting</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="alarm"></ion-icon>
      <!-- <ion-label>Pre.Order</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <!-- <ion-label>Orders</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
