<ion-header #header class="ion-no-border fixed" style="background-color: #fff;">
  <ion-toolbar class="ion-padding">
    <ion-icon slot="start" class="back-btn" name="chevron-back-outline" (click)="back()"></ion-icon>
    <ion-title *ngIf="!searchEnable" class="ion-no-padding">{{ category?.name || 'Products'}}</ion-title>
    <ion-icon *ngIf="!searchEnable" slot="end" class="search-btn" name="search" (click)="toggleSearch()"></ion-icon>
    <ion-searchbar #searchBar *ngIf="searchEnable" [(ngModel)]="searchValue" [debounce]="250"></ion-searchbar>
    <ion-icon *ngIf="searchEnable" slot="end" class="close-btn" name="close" (click)="toggleSearch()"></ion-icon>
  </ion-toolbar>
  <ion-segment *ngIf="category" value="{{category.name}}" scrollable="true"
    (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let cat of list" value="{{cat.name}}" (click)="scrollIntoView($event)">
      <ion-label>{{cat.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScrollStart)="scrollStart()" (ionScroll)="scrolling($event)"
  (ionScrollEnd)="scrollEnd()">
  <div style="height: 110px;"></div>
  <ion-list *ngIf="category" class="ion-padding">
    <ion-list-header class="ion-no-padding">
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <h4>Count</h4>
        <h5>{{ filteredProducts.length }}</h5>
      </div>
    </ion-list-header>
    <ion-item-sliding class="product-card" *ngFor="let product of filteredProducts">
      <ion-item lines="none" (click)="openProductDetailPage(product)">
        <ion-thumbnail slot="start">
          <ion-img src="assets/pics/product.png"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-no-margin">
          <span style="color: #ccc; font-size: .8em;">Supplier<span>'s</span></span>
          <h2>{{ product.name }}</h2>
          <p>{{ product.qty }}</p>
        </ion-label>
        <ion-label class="label_unit" slot="end">{{ product.unit.symbol }}</ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option>Order</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="openUpdateProductPage(product)">UPDATE</ion-item-option>
        <ion-item-option color="danger" (click)="deleteProduct(product.id)">DELETE</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div style="height: 55px"></div>
  <ion-fab #addBtn vertical="bottom" horizontal="end" slot="fixed" (click)="openCreateProductPage()">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>