<ion-header #header class="ion-no-border fixed" style="background-color: #fff;">
  <ion-toolbar class="ion-padding">
    <ion-icon slot="start" class="back-btn" name="chevron-back-outline" (click)="back()"></ion-icon>
    <ion-title class="ion-no-padding">{{ product.name }}</ion-title>
    <ion-icon slot="end" class="search-btn" name="camera"></ion-icon>
  </ion-toolbar>

  <div class="product-qty-wrapper">
    <ion-text color="success">
      <h5 class="ion-no-margin qty-value">
        <span style="margin-right: 16px">{{ product.qty }}</span>
        <span>{{ product.unit.abbr }}</span>
      </h5>
    </ion-text>
    <ion-text>
      <div class="last-update">{{ product.updated_at }}</div>
    </ion-text>
  </div>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScrollStart)="scrollStart()" (ionScroll)="scrolling($event)"
  (ionScrollEnd)="scrollEnd()">

  <div style="height: 35vh;"></div>

  <ion-item *ngIf="product.notification.is_enable" lines="none" style="position: relative; margin-top: 8px">
    <ion-label class="input-label" position="stacked" style="opacity: 1;">Notification</ion-label>
    <ion-icon style="position:absolute; right: 16px; top: 5px" name="notifications" color="success"></ion-icon>
    <div style="margin-top:8px;display: flex; align-items: center">
      <div style="font-size: 12px; color: #ccc; flex: 4; margin-right: 5px">
        <span>We will notify you when your product quantity is below </span>
      </div>
      <div style="flex: 3; display: flex; align-items: center; position: relative">
        <ion-input class="ion-no-margin" disabled style="border-radius: 16px 0 0 16px"
          [ngModel]="product.notification.trigger"></ion-input>
        <div style="height: 51px;background: #F8F8FB; padding:16px;border-radius: 0 16px 16px 0">
          <span style="color: #25d482">{{ product.unit.abbr }}</span>
        </div>
      </div>
    </div>
  </ion-item>

  <ion-item lines="none" *ngIf="cartItem" style="position: relative; margin-top: 8px">
    <ion-label class="input-label" position="stacked">In Cart Quantity</ion-label>
    <div style="margin-top:8px;display: flex; align-items: center">
      <div style="font-size: 12px; color: #ccc; flex: 4; margin-right: 5px">
        <div>You have <ion-text color="{{ successOrDanger(cart_qty) }}">{{ cart_qty }} {{ product.unit.abbr }}
          </ion-text> in your cart</div>
        <div *ngIf="input_qty">
          <ion-text color="{{ successOrDanger(input_qty) }}">{{ abs(input_qty) }} {{ product.unit.abbr }}</ion-text>
          will be {{ addOrRemove() }} your cart
        </div>
      </div>
      <div style="flex: 3; display: flex; align-items: center; position: relative">
        <ion-input class="ion-no-margin" type="number" style="border-radius: 16px 0 0 16px" placeholder="0"
          [(ngModel)]="input_qty"></ion-input>
        <div style="height: 51px;background: #F8F8FB; padding:16px;border-radius: 0 16px 16px 0">
          <span style="color: #25d482">{{ product.unit.abbr }}</span>
        </div>
      </div>
    </div>
  </ion-item>

  <div class="list-wrapper mt">
    <div class="list-title ion-padding">
      <h5 class="ion-no-padding ion-no-margin">Suppliers</h5>
      <h5 class="ion-no-padding ion-no-margin">{{ product.suppliers.length }}</h5>
    </div>
    <ul class="ion-no-padding ion-no-margin">
      <li *ngFor="let ps of product.suppliers">
        <ion-card class="ion-no-padding ion-no-margin {{ selectedSupplier(ps.id) }}" button (click)="selectSupplier(ps)">
          <img width="100%" height="115px" src="{{ps.supplier.img || 'assets/pics/product.png'}}">
          <ion-card-header class="ion-no-padding">
            <ion-card-title class="ion-no-padding">{{ ps.supplier.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="unit-price">{{ ps.formattedPrice }}</div>
            <div *ngIf="ps.cart_item"><ion-text color="{{successOrDanger(ps.cart_item.qty)}}">{{ ps.cart_item.qty }}</ion-text></div>
          </ion-card-content>
        </ion-card>
      </li>
    </ul>
  </div>

  <ion-item lines="none">
    <ion-label class="input-label" position="stacked">Notes & Descriptions</ion-label>
    <ion-textarea style="--padding-top: 0;padding: 16px" class="radius mt-15" rows="5" cols="20"
      placeholder="Enter any notes here..." [(ngModel)]="product.description"></ion-textarea>
  </ion-item>

  <div style="height: 100px;"></div>

  <div #buttonWrapper class="button-wrapper" slot="fixed"
    style="bottom: 0; width: 100%; padding: 16px 16px; background: #fff">
    <ion-button *ngIf="input_qty" style="height:60px; --border-radius: 16px" class="add_to_cart_btn"
      shape="round" expand="full" color="success" (click)="addToCart()">Add To Cart
      <ion-badge *ngIf="input_qty" class="cart-qty">{{ input_qty }}</ion-badge>
    </ion-button>
    <ion-button *ngIf="!input_qty && cart_qty" style="height:60px; --border-radius: 16px" class="add_to_cart_btn"
      shape="round" expand="full" color="success" (click)="viewCart()">view cart
      <ion-badge *ngIf="cart_qty" class="cart-qty">{{ cart_qty }}</ion-badge>
    </ion-button>
  </div>
</ion-content>