<ion-header #header class="ion-no-border fixed" style="background-color: #fff;">
  <ion-toolbar class="ion-padding">
    <ion-title *ngIf="!searchEnable" class="ion-no-padding">{{ noUnderscore(selectedSupplier) || 'Cart'}}</ion-title>
    <ion-icon *ngIf="!searchEnable" slot="end" class="search-btn" name="search" (click)="toggleSearch()"></ion-icon>
    <ion-searchbar #searchBar *ngIf="searchEnable" [(ngModel)]="searchValue" [debounce]="250"></ion-searchbar>
    <ion-icon *ngIf="searchEnable" slot="end" class="close-btn" name="close" (click)="toggleSearch()"></ion-icon>
  </ion-toolbar>
  <ion-segment *ngIf="list" value="{{selectedSupplier}}" scrollable="true"
    (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let supplier of suppliers" value="{{supplier}}" (click)="scrollIntoView($event)">
      <ion-label>{{noUnderscore(supplier)}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScrollStart)="scrollStart()" (ionScroll)="scrolling($event)"
  (ionScrollEnd)="scrollEnd()">
  <div style="height: 110px"></div>

  <ion-list *ngIf="list" class="ion-padding">
    <ion-list-header class="ion-no-padding" lines="none">
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <h4>Count</h4>
        <h5>{{ filteredProducts.length }}</h5>
      </div>
    </ion-list-header>
    <ion-item-sliding class="product-card" *ngFor="let item of filteredProducts">
      <ion-item lines="none" (click)="openProductDetailPage()">
        <ion-thumbnail slot="start">
          <ion-img src="assets/pics/product.png"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-no-margin">
          <h2>{{ item.name }}</h2>
          <p>{{ item.qty }}</p>
        </ion-label>
        <ion-label class="label_unit" slot="end">{{ item.unit.symbol }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary">UPDATE</ion-item-option>
        <ion-item-option color="danger">DELETE</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div style="height: 125px;"></div>

  <div #totalWrapper class="total-wrapper" slot="fixed"
    style="bottom: 0; width: 100%; padding: 16px 16px;background-color: #fff;">
    <ion-label style="margin-bottom: 4px;">
      <div style="display: flex; justify-content: space-between; margin-bottom: 16px;">
        <h3 style="font-size:large; font-weight: bold;">Total</h3>
        <h3 style="font-size:large; font-weight: bold;">100</h3>
      </div>
    </ion-label>
    <ion-button style="height:60px; --border-radius: 16px;" shape="round" class="add_to_cart_btn" expand="full"
      color="success">
      Proceed To Order
    </ion-button>
  </div>

</ion-content>