p {
  font-family: Lato;
}

ion-header {
  ion-toolbar {
    padding: 0;
    --ion-padding: 16px;

    ion-searchbar {
      --border-radius: 16px;
    }

    .back-btn,
    .search-btn {
      background-color: #d8f3f1;
      padding: 0.5em;
      font-size: medium;
      border-radius: 6px;
      cursor: pointer;
      color: #25d482;
    }

    .close-btn {
      padding: 0.5em;
      font-size: medium;
      border-radius: 6px;
      cursor: pointer;
      background-color: #f3d8f1;
      color: #d42582;
    }

  }

  ion-segment {
    width: 100vw;
  }
}

ion-content {

  ion-list {
    ion-item-sliding {
      &.product-card {
        // box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
        border-radius: 16px;
        margin-top: 16px;
        overflow: hidden;

        ion-item {
          border-radius: 16px;
          --ion-item-background: #f8f8fb;

          ion-thumbnail {
            position: relative;
            left: -20px;
            margin: 0;
            width: 84px;
            height: 84px;
            background-color: #e1e1df;
            border-radius: 16px;
            overflow: hidden;
          }

          .qty-wrapper {
            position: absolute;
            right: 0;
            width: 8em;
            margin: 0;
            bottom: 0;

            .qty-btn-wrapper {
              display: flex;
              margin: 0;
              padding: 0;
              justify-content: end;
              align-items: center;
              width: 100%;
  
  
              ion-button {
                flex: 1;
                // font-size: 16px;
                --box-shadow: none;
                --border-radius: 16px;
                
                &.decrease {
                  --background: #f3d8f1;
                  color: #d42582;
                }
  
                &.increase {
                  --background: #d8f3f1;
                  color: #25d482;
                }
              }
  
              ion-text {
                margin-left: 8px;
                margin-right: 8px;
              }
            }
  
            .label_unit {
              background: #d8f3f1;
              color: #5ce1cd;
              padding: 0.4em;
              border-radius: 16px 0;
              width: 100%;
              text-align: center;
              font-weight: bold;
            }
          }

        }
      }
    }
  }
}