<ion-header #header class="ion-no-border fixed" style="background-color: #fff;">
  <ion-toolbar class="ion-padding">
    <ion-icon slot="start" class="back-btn" name="chevron-back-outline" (click)="back()"></ion-icon>
    <ion-title class="ion-no-padding">New Category</ion-title>
    <ion-icon slot="end" class="search-btn" name="camera"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScrollStart)="scrollStart()" (ionScroll)="scrolling($event)"
  (ionScrollEnd)="scrollEnd()">

  <div style="height: 35vh;"></div>

  <ion-item lines="none">
    <ion-label class="input-label" position="stacked">Category's Name</ion-label>
    <ion-input class="radius mt-15" [(ngModel)]="category.name"></ion-input>
  </ion-item>
  
  <div slot="fixed"
    style="bottom: 0; width: 100%; padding: 16px 16px; background: #fff">
    <ion-button disabled="{{!isOk}}" (click)="createCategory()" style="height:60px; --border-radius: 16px" class="add_to_cart_btn" shape="round" expand="full"
      color="success">Create</ion-button>
  </div>
</ion-content>